<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Swithika Mutyam</h2>
            <h4>swithika6@gmail.com</h4>
        </div>
        <img elevation z-4 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9uvF65nH7m-aoxHulInp9xFBJjZsuZuOw1w&usqp=CAU" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Features</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Weather</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Transportation</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Maps</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Other</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>open_in_new</mat-icon>
        Visit our page
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Contact Us
    </a>
    
</mat-nav-list>