
<div class="inline">
  <div class="card mat-elevation-z8" style="width: 18rem; background-color: whitesmoke; float: left;">
    <div class="card-body">
      <h3 class="card-title" style="text-align:right">Capacity</h3>
      <p class="card-subtitle mb-2 text-muted" style="justify-content:center; font-size: 50px; text-align: right;">
        <span class="material-icons" style="font-size:70px; text-align:left">
          language
          </span>
        150GB</p>
      <mat-divider></mat-divider><br>
      <h3 style="text-align:center">
        <span class="material-icons" style="font-size: 20px; margin-right: 3px">
          update
          </span>Update now</h3>
    </div>
  </div>

  <div class="card mat-elevation-z8" style="width: 18rem; background-color: whitesmoke;float: left;">
    <div class="card-body">
      <h3 class="card-title" style="text-align:right">Revenue</h3>
      <p class="card-subtitle mb-2 text-muted" style="justify-content:center; font-size: 50px; text-align: right;">
        <span class="material-icons" style="font-size:70px; text-align:left">
          paid
          </span>
        $10345</p>
      <mat-divider></mat-divider><br>
      <h3 style="text-align:center">
        <span class="material-icons" style="font-size: 20px; margin-right: 3px">
          update
          </span>Update now</h3>
    </div>
  </div>

  <div class="card mat-elevation-z8" style="width: 18rem; background-color: whitesmoke; float: left;">
    <div class="card-body">
      <h3 class="card-title" style="text-align:right">Errors Reported and Resolved</h3>
      <p class="card-subtitle mb-2 text-muted" style="justify-content:center; font-size: 50px; text-align: right;">
        <span class="material-icons" style="font-size:70px; text-align:left">
          bug_report
          </span>
        230000</p>
      <mat-divider></mat-divider><br>
      <h3 style="text-align:center">
        <span class="material-icons" style="font-size: 20px; margin-right: 3px">
          update
          </span>Update now</h3>
    </div>
  </div>

  <div class="card mat-elevation-z8" style="width: 18rem; background-color: whitesmoke;">
    <div class="card-body">
      <h3 class="card-title" style="text-align:right">Followers</h3>
      <p class="card-subtitle mb-2 text-muted" style="justify-content:center; font-size: 50px; text-align: right;">
        <span class="material-icons" style="font-size:70px; text-align:left">
          favorite
          </span>
        465.9k</p>
      <mat-divider></mat-divider><br>
      <h3 style="text-align:center">
        <span class="material-icons" style="font-size: 20px; margin-right: 3px">
          update
          </span>Update now</h3>
    </div>
  </div>
</div>
